/* Universal Box Sizing */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

main {
    display: block;

}

/* Highscores Interaction */
.highscores:hover {
    /* font-weight: bold; */
    color: darkgoldenrod;
    cursor:pointer;
    font-weight: 600;
    text-shadow: 100px;
}

/* Header Formating */
.header {
    border: 1px goldenrod solid;
    padding: 25px;
    margin: 35px;
    background-color: wheat;
}

.highscores {
    display: inline-block;
}

.timer {
    list-style-type: none;
    float: right;
}

/* Container Formatting */

#container,
#quiz,
#score {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding: 0;
    margin: 5px;
    text-align: center;
    font-size: 35px;
}

/* Questions Formatting */
#question {
    font-size: 25px;
    text-align: center;
    padding: 0;
    margin: 0px 0px 25px 0px;
}

/* Button Formatting */
* button {
    display: block;
    margin: 25px 0px 0px 0px;
    background-color: white;
    width: 300px;
    height: 30px;
    font-size: 25px;
    box-shadow: 2px 2px;
}

* button:hover {
    box-shadow: none;
    background-color: wheat;

}

/* Footer Formatting */
footer {
    margin: 55px 85px 0px 85px;
}

#narration,
#splitter {
    font-style: italic;
    text-align: center;
}

/* Choices Formatting, Border */
/* #choices {
    text-align: left;
    font-size: larger;
    border: goldenrod solid 3px;
    margin: 25px 0px 0px 0px;
    text-justify: ;
    padding: 8px;
    box-shadow: 2px 1px 1px goldenrod;
    
}

#choices:hover {
    box-shadow: none;
    background-color: wheat;
} */