/* Universal Box Sizing */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

main {
    display: flexbox;

}

/* Header Formating */
.header {
    border: 1px goldenrod solid;
    padding: 25px;
    margin: 35px;
    background-color: wheat;
}

.highscores {
    display: inline-block;
}

.timer {
    list-style-type: none;
    float: right;
}

/* Container Formatting */

.container {
    padding: 0;
    margin: 5px;
    text-align: center;
    font-size: 35px;
}

/* Questions Formatting */
.question1,
.question2,
.question3,
.question4,
.question5,
.question6,
.question7,
.question8,
.question9,
.question10 {
    display: flexbox;
    font-size: 25px;
    text-align: center;
    padding: 0;
    margin: 0px 180px 0px 180px;
}

/* Button Formatting */
button {
    background-color: white;
    width: 100px;
    height: 30px;
    font-size: 25px;
    box-shadow: 2px 2px;
}

button:hover {
    box-shadow: none;
    background-color: wheat;

}

/* Choices Formatting, Border */
.choices {
    text-align: left;
    font-size: larger;
}

.choice1,
.choice2,
.choice3,
.choice4 {
    border: goldenrod solid 3px;
    margin: 25px 0px 0px 0px;
    text-justify: ;
    padding: 8px;
    box-shadow: 2px 1px 1px goldenrod;
}

.choice1:hover,
.choice2:hover,
.choice3:hover,
.choice4:hover {
    box-shadow: none;
    background-color: wheat;
}